*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre tarjetas */
    justify-content: center;
    padding: 20px;
}
.card {
    width: 300px; /* Ajusta el ancho de las tarjetas */
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(245, 131, 0, 0.1) !important;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    position: relative; 
}
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 14px;
    margin-bottom: 10px;
}
.view-more {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #e88f13;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.view-more:hover {
    background-color: #bc6745;
}