body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fae8ce !important;
}
form{
    width: 100%;
    max-width: 650px;
    padding: 100px;
    border-radius: 10px;
    background-color: #e0d2be;
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
/* Ajustes de la posición de la foto de perfil */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


